{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'manifest.json'%}">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <style>
        body {
            opacity: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm" method='post'>
        {% csrf_token %}
            <div class="input-group">
                <label for="email">Username</label>
                <input type="text" id="email" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <p class="forgot-password"><a href="forgot-password.html">Forgot Password?</a></p>
            <button type="submit">Login</button>
        </form>
        <p>Not registered? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>

    <script>
        window.onload = function() {
            gsap.to(document.body, { duration: 0.5, opacity: 1 });
        };

        document.querySelectorAll('a').forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const href = this.getAttribute('href');
                gsap.to(document.body, { duration: 0.5, opacity: 0, onComplete: () => {
                    window.location = href;
                }});
            });
        });
    </script>
</body>
</html>
